* {
    box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	color: #2E3333;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #E6FFFF;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.menu li a:link, .menu li a:visited{
    color: #ffffff;
    text-decoration: none;
}
.menu li a:hover, .menu li a:active{
    background-color: #0099cc;
}

.aside {
    background-color: #E6FFFF;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}


.aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.aside li {
    float: left;
}

	
.aside a:link, .aside a:visited {
    display: block;
    float: left;
	width: 90%;
    border: 1px solid #1BBC9B;
	width: 90%;
	margin: 0 0 1.5em 0;
	outline: none;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	padding: 10px 15px 10px 15px;
    background-color: #1BBC9B;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.aside a:hover{
    background-color: #E6FFFF;
    color: #0099cc;
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-12 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
a, a:link, a:visited { 
	color: #98610c; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

.orange {
	color: #C60;
}

.green {
	color: green;
}

.madera {
    color: #986109;
}

.submenu {
    padding: 5px;
    margin: 3px;
    color: #ffffff;
    border: 1px solid #1BBC9B;
    background-color: #1BBC9B;
    width: 30%;
    height: 90%;
}
.submenu img{
    width: 90%;
}

.submenu a{
    margin: 1%;
	padding: .6em 0;
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
	outline: none;
	transition: .5s all;
}

.submenu:hover, .submenu a:hover{
  color: #1BBC9B;
  background: none; 
}

.element {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 1px solid #98bf21;
    background-color: #0F3645;
    color: white;
    margin: 5px;
}

.element h3 {
    font-size: 1em;
    text-align: center;
    padding: 2px 7px 2px 7px;
}

.float_l { float: left; }
.float_r { float: right; }

.formulario input, .formulario input[type="text"], .formulario input[type="number"] {
	display: inline-block;
    float: left;
	background: none;
	border: 1px solid #A3A1A1;
	width: 90%;
	margin: 0 0 1.5em 0;
	outline: none;
	font-size: 16px;
	color: #747577;
	font-weight: 500;
	padding: 10px 15px 10px 15px;
}
.formulario input[type="submit"], .formulario input[type="reset"], .formulario button{
    display: inline;
    margin: 1%;
    width: 28%;
	background: #1BBC9B;
	border: 1px solid #1BBC9B;
	padding: .6em 0;
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
	outline: none;
	transition: .5s all;
}
.formulario input[type="submit"]:hover{
	color: #1BBC9B;
  background: none;
}
.formulario input[type="reset"]:hover{
	color: #1BBC9B;
  background: none;
}
.formulario button:hover{
	color: #1BBC9B;
  background: none;
}
ul {list-style-type: none}